<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <br>
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>Member since <%= @user.created_at %></small>
        <br>
        <p><%= pluralize(@incomplete, 'item') %></p>
        <br>
        <h3><strong>Items</strong></h3>
        <!-- Display current items -->
        <% if current_user.present? %>
          <% @items.each do |item| %>
            <% if item.completed == false %>
              <%= render item %>
            <% end %>
          <% end %>
          <!-- when new item is created with AJAX request -->
          <div class='js-items'>
          </div>
          <!-- add new item form field -->
          <div class='new-item'>
            <p><%= render partial: "items/form", locals:{ item: @item} %></p> 
          </div> 
        <% end %>
      </div>

    </div>
  </div>
</div>