<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <br>
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>Member since <%= @user.created_at %></small>
        <br>
        <br>
        <p><%= pluralize(current_user.items.count, 'item') %></p>
        <h3><strong>Items</strong></h3>
        <!-- Display current items -->
        <% if current_user.present? %>
          <% @items.each do |item| %>
            <%= render item %>
          <% end %>
        <!-- when new item is created with AJAX request -->
        <div class='js-items'>

        </div>
        <div>
          <p><%= render partial: "items/form", locals:{ item: @item} %></p> </div> 
        </div>


        <% end %>
      </div>

    </div>
  </div>
</div>